<% if notice %>
<p id="notice"><%= notice %></p> <% end %>
<table>
<tr class="pretty">
  <th><%= sortable "name" %></th>
  <th><%= sortable "age" %></th>
</tr> 
</table>
<% @pets.each do |pet| %>
  <% if pet.status == "fostered" %>
    <% next %>
  <% end %>
  <div class="entry">
    <%= image_tag(pet.image_url) %>
    <h3><%= pet.name %></h3>
    <p>Age: <%= pet.age %></p>
    <p>Species: <%= pet.species %></p>
    <p>Breed: <%= pet.breed %></p>
    <p>Habits: <%= truncate(pet.habits, length: 100) %></p>
    <div class="foster_link">
      <%= button_to "Foster This Pet", foster_agreement_path(:id => pet) %>
      <%= button_to 'Considering This Pet', pet_considerings_path(pet_id: pet), remote: true %>
    </div>
  </div>
</tr>
<% end %>