<p id="notice"><%= notice %></p>

<p>
  <strong>Cat:</strong>
  <%= @line_item.cat_id %>
</p>

<p>
  <strong>Foster:</strong>
  <%= @line_item.foster_id %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
