<p id="notice"><%= notice %></p>

<%= image_tag(@pet.image_url) %>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @pet.age %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @pet.breed %>
</p>

<p>
  <strong>Habits:</strong>
  <%= @pet.habits %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @pet.image_url %>
</p>

<p>
  <strong>Status:</strong>
  <%= @pet.status %>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
